@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-red: #800020; /* Bordô */
  --color-brand-light: #f8f9fa;
  --color-brand-gray: #4a5568;
}

html {
  scroll-behavior: smooth;
}
